.container {
  margin: auto;
  width: 500px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

.board-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: max-content;
  height: max-content;
  gap: 0;
}

.board-box__layout {
  width: 100px;
  height: 100px;
  border: 2px solid #999;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  margin-right: 20px;
  padding: 20px;
  outline: hide;
}

.color-code {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
}
